
body {
	background-image: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?dpr=2&fit=crop&fm=jpg&h=775&q=50&w=1450);
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
}


#content {

	text-align: center;
	padding-top: 25%;
}
