/*font-family*/

p  {
	font-family: Arial;
}
    /* ""- when starts with a number */


h1 {
	font-family: Georgia;
}


/*font-size*/

body {
	font-size: 10px;
}
    /* otherwise depending on the browser */


h1 {
	font-size: 5.0em;
}


p {
	font-size: 2.0em;
}


span {
	font-size: 2.0em;
}


/* font-weight */

p {
	font-weight: bold;
}

    /* some fonts allow numeric value every 100 between 100-800 */


/* line-height */

p {
	line-height: 1.5;
}


/* text-align */

h1 {
	text-align: right;
}

p {
	text-align: center;
}


/* text-decoration */

p {
	text-decoration: underline;
 }

 h1 {
 	text-decoration: line-through;
 }
